@model List<Question>
@{
    ViewBag.Title = "Survey";
    <script type="text/javascript" src="~/Scripts/jquery.simplePagination.js"></script>
}

<h2>@ViewBag.SurveyName</h2>

<table>
    @foreach (var question in Model.ToList())
    {
        if (question.QuestionType.ToString() == "Text")
        {
            <tr>
                <td>@Html.Label(question.Text)</td>
                <td>@Html.TextBox("textbox", question.TypedAnswer ?? null, new { @class = "text-answer", questionId = question.Id.ToString() })</td>
            </tr>
        }
        else if (question.QuestionType.ToString() == "Checkbox")
        {
            <tr>
                <td>@Html.Label(question.Text)</td>
                <td>
                    @foreach (var answer in question.Answers)
                    {
                        if (answer.IsChecked)
                        {
                            <div class="checkbox">
                                <label><input type="checkbox" class="checkbox-answer" questionId=@question.Id checked />@answer.Text</label>
                            </div>
                        }
                        else
                        {
                            <div class="checkbox">
                                <label><input type="checkbox" class="checkbox-answer" questionId=@question.Id />@answer.Text</label>
                            </div>
                        }
                    }
                </td>
            </tr>
        }
        else if (question.QuestionType.ToString() == "Radio")
        {
            <tr>
                <td>@Html.Label(question.Text)</td>
                <td>
                    @foreach (var answer in question.Answers)
                    {
                        if (answer.IsChecked)
                        {
                            <div class="radio">
                                <label><input type="radio" class="radio-answer" name=@question.Id questionId=@question.Id checked />@answer.Text</label>
                            </div>
                        }
                        else
                        {
                            <div class="radio">
                                <label><input type="radio" class="radio-answer" name=@question.Id questionId=@question.Id />@answer.Text</label>
                            </div>
                        }
                    }
                </td>
            </tr>
        }
    }
</table>

<br />

<div id="pagination"></div>

<script type="text/javascript">
    $(function() {
        $("#pagination").pagination({
            pages: 3,
            currentPage: @ViewBag.pageNumber,
            cssStyle: 'light-theme',
            hrefTextPrefix: '/Survey/Index/@ViewBag.userId/@ViewBag.surveyId/',
            onPageClick: function() {
                collectData();
            }
        });
    });
</script>

