@model List<Question>


<table>
@foreach (var question in Model.ToList())
{
    if (question.QuestionType.ToString() == "Text")
    {
        <tr>
            <td>@Html.Label(question.Id.ToString())</td>
            <td>@Html.Label(question.Text)</td>

        </tr>
    }
    else if (question.QuestionType.ToString() == "Checkbox")
    {
        <tr>
            <td>@Html.Label(question.Id.ToString())</td>
            <td>@Html.Label(question.Text)</td>
            <td>
                @foreach (var answer in question.Answers)
                {
                    if (answer.IsChecked)
                    {
                        <div class="checkbox">
                            <label><input type="checkbox" class="checkbox-answer" value=@question.Id checked />@answer.Text</label>
                        </div>
                    }
                    else
                    {
                        <div class="checkbox">
                            <label><input type="checkbox" class="checkbox-answer" value=@question.Id />@answer.Text</label>
                        </div>
                    }

                }
            </td>
        </tr>
    }
    else if (question.QuestionType.ToString() == "Radio")
    {
        <tr>
            <td>@Html.Label(question.Id.ToString())</td>
            <td>@Html.Label(question.Text)</td>
            <td>
                @foreach (var answer in question.Answers)
                {
                    if (answer.IsChecked)
                    {
                        <div class="radio">
                            <label><input type="radio" class="radio-answer" checked name=@question.Id>@answer.Text</label>
                        </div>
                    }
                    else
                    {
                        <div class="radio">
                            <label><input type="radio" class="radio-answer" name=@question.Id>@answer.Text</label>
                        </div>
                    }
                }
            </td>
        </tr>
    }
}
</table>
